#wrapper.business_show
  .header
    - if current_business
      - if current_business_user.businesses.size > 1
        = select(:business, :id, current_business_user.businesses.collect{|b| [b.name, b.id]}, :selected=>current_business.id)
      - elsif current_business_user.businesses.size == 1
        = current_business.name

      .link
        = link_to 'Edit', edit_business_path(current_business), class: :button

    .link
      = link_to 'Create New Business', new_business_path, class: :button

  .calendar_content
    #event_pop_up
    #calendar_container

    :javascript
      $(document).ready( function() {
        $('#calendar_container').fullCalendar({
          weekMode : window.CalendarOptions.mode,
          header: window.CalendarOptions.header,
          events: window.CalendarOptions.events_url,
          lazyFetching: false,
          eventClick: function(event) { return window.eventClickHandler(event) },
          loading: function(bool) { return window.loadingCalendarHandler(bool) },
          dayClick: function(date, allDay, jsEvent, view) { return window.calendarDayClickHandler(date, allDay, jsEvent, view) }
         })
      })


