- if current_user
  %script{:id=>"event_template", :type=>"text/x-handlebars-template"}
    %li.event{ 'data-id'=>"{{attributes/id}}" }
      .event_type_bar{ :class=> "{{attributes/service_type}}" }
        &nbsp;
      .wrapper
        .info_bar
          .business_img
            %img{ src: "{{businessImageName}}" }
          .info
            %div
              {{businessName}}
            %div
              {{attributes/title}} {{startHour}}
          .images
            .fave
              {{{userFavoriteImage}}}
            .vote.up
              %img{ src: 'assets/thumbs-up.gif', rel: 'vote', 'data-id'=>"{{attributes/id}}", 'data-vote'=> "up"}
              .number
            .vote.down
              %img{ src: 'assets/thumbs-down.gif', rel: 'vote', 'data-id'=>"{{attributes/id}}", 'data-vote'=> "down" }
              .number
        .description
          {{attributes/description}}

- else
  %script{:id=>"event_template", :type=>"text/x-handlebars-template"}
    %li.event{ 'data-id'=>"{{attributes/id}}" }
      .event_type_bar{ :class=> "{{attributes/service_type}}" }
        &nbsp;
      .wrapper
        .info_bar
          .business_img
            %img{ src: "{{businessImageName}}" }
          .info.full
            %div
              {{businessName}}
            %div
              {{attributes/title}} {{startHour}}
        .description
          {{attributes/description}}


%script{:id=>"day_header_template", :type=>"text/x-handlebars-template"}
  %li.day_header{:'data-role'=>"list-divider"}
    {{header date}}

%script{:id=>"business_info_template", :type=>"text/x-handlebars-template"}
  .business{:style=>'display:none'}
    .info
      {{attributes/name}}
      {{attributes/description}}
      %p
        {{attributes/address}}
        %br
        {{attributes/city}}, {{attributes/state}} {{attributes/zip_code}}
      %p
        {{phone_format attributes/phone}}
    .hours
      {{#each_hour attributes/hours}}
      .line
        .day_name
          {{day_name}}
        .from_to
          {{hour_value}}
      {{/each_hour}}


