%script{:id=>"event_list_header", :type=>"text/x-handlebars-template"}
  .event_list_header
    The List

- if current_user
  %script{:id=>"event_template", :type=>"text/x-handlebars-template"}
    .event{ 'data-id'=>"{{attributes/id}}" }
      .info
        %div
          {{businessName}}
        %div
          {{attributes/title}} {{startHour}}
      .images
        {{{userFavoriteImage}}}
- else
  %script{:id=>"event_template", :type=>"text/x-handlebars-template"}
    .event
      .business
        {{business_name}}
      .info
        {{attributes/title}} {{startHour}}

%script{:id=>"day_header_template", :type=>"text/x-handlebars-template"}
  .day_header
    {{header date}}

%script{:id=>"business_info_template", :type=>"text/x-handlebars-template"}
  .business{:style=>'color:green;display:none'}
    .info
      {{attributes/name}}
      {{attributes/description}}
      {{attributes/hours}}
    .close
      X



