- if current_user
  %script{:id=>"event_template", :type=>"text/x-handlebars-template"}
    .event{ 'data-id'=>"{{attributes/id}}", :class=> "{{attributes/service_type}}" }
      .info
        %div
          {{businessName}}
        %div
          {{attributes/title}} {{startHour}}
      .images
        {{{userFavoriteImage}}}
- else
  %script{:id=>"event_template", :type=>"text/x-handlebars-template"}
    .event{ 'data-id'=>"{{attributes/id}}", :class=> "{{attributes/service_type}}" }
      .info.full
        %div
          {{businessName}}
        %div
          {{attributes/title}} {{startHour}}

%script{:id=>"day_header_template", :type=>"text/x-handlebars-template"}
  .day_header
    {{header date}}

%script{:id=>"business_info_template", :type=>"text/x-handlebars-template"}
  .business{:style=>'color:green;display:none'}
    .info
      {{attributes/name}}
      {{attributes/description}}
      {{attributes/hours}}
    .close
      X



