- if current_user
  %script{:id=>"event_template", :type=>"text/x-handlebars-template"}
    %li.event{ 'data-id'=>"{{attributes/id}}", :class=> "{{attributes/service_type}}" }
      .business_img
        %img{ src: "{{businessImageName}}" }
      .info
        %div
          {{businessName}}
        %div
          {{attributes/title}} {{startHour}}
      .images
        {{{userFavoriteImage}}}
        %img{ src: 'assets/thumbs-up.gif', width: '23px', 'data-id'=>"{{attributes/id}}", rel: 'vote', 'data-vote'=> "up"}
        %img{ src: 'assets/thumbs-down.gif', width: '23px', 'data-id'=>"{{attributes/id}}", rel: 'vote', 'data-vote'=> "down" }
      .description
        {{attributes/description}}
- else
  %script{:id=>"event_template", :type=>"text/x-handlebars-template"}
    %li.event{ 'data-id'=>"{{attributes/id}}", :class=> "{{attributes/service_type}}" }
      .business_img
        %img{ src: "{{businessImageName}}" }
      .info.full
        %div
          {{businessName}}
        %div
          {{attributes/title}} {{startHour}}
      .description.full
        {{attributes/description}}

%script{:id=>"day_header_template", :type=>"text/x-handlebars-template"}
  %li.day_header{:'data-role'=>"list-divider"}
    {{header date}}

%script{:id=>"business_info_template", :type=>"text/x-handlebars-template"}
  .business{:style=>'display:none'}
    .info
      {{attributes/name}}
      {{attributes/description}}
      %p
        {{attributes/address}}
        %br
        {{attributes/city}}, {{attributes/state}} {{attributes/zip_code}}
      %p
        {{phone_format attributes/phone}}
    .hours
      {{#each_hour attributes/hours}}
      .line
        .day_name
          {{day_name}}
        .from_to
          {{hour_value}}
      {{/each_hour}}


