- if current_user
  %script{:id=>"event_template", :type=>"text/x-handlebars-template"}
    .event
      .business
        {{business_name}}
      .info
        {{attributes/title}} {{startHour}}
- else
  %script{:id=>"event_template", :type=>"text/x-handlebars-template"}
    .event
      .business
        {{business_name}}
      .info
        {{attributes/title}} {{startHour}}

%script{:id=>"day_header_template", :type=>"text/x-handlebars-template"}
  .day_header
    {{header date}}

%script{:id=>"filter_template", :type=>"text/x-handlebars-template"}


