= render :partial => 'layouts/header'
#content.consumer_events{ 'data-events'=> @data.to_json }
  #event_list_container
    #event_list_inner
      #event_list

  #map_canvas_container
    .search
      =text_field_tag :location_search, '', :placeholder=>'City, State, Zip or College'

    #map_canvas



