= render :partial => 'event_templates'
#content.consumer_events
  .header
    .filter
      .section
        .item
          Cafe
        =check_box_tag :service_type_cafe, 0
        .item
          Restaurant
        =check_box_tag :service_type_restaurant, 1
      .section.two
        .item
          Bar
        =check_box_tag :service_type_bar, 2
        .item
          Retail
        =check_box_tag :service_type_retail, 3
        - if current_user
          Favorites
          =check_box_tag :filtering_favorites, false
        %br
    .search
      =label_tag "location", 'Location'
      =text_field_tag :location_search, '', :placeholder=>'City, State, Zip or College'

  #event_list_container
    .event_list_header
      Upcoming Events
    #event_list_inner
      #event_list
  #map_canvas_container
    #map_canvas



