@import 'mixins';
@import 'shared';


.header {
  margin: 20px auto;
}


#calendar_container {
  width: 700px;
  margin: auto
}

#wrapper { width:100% }

form.new_business, form.edit_business{
  width:50%;
  display:inline-block;
  padding-top:10px;
  padding-left:10px;

  .open_times {
    margin-top:15px;
    .days_times {
      .day_name {
        width:15px;
      }
      div {
        display:inline-block;
      }
    }
  }

  .field.phone {
    input { margin-right: 3px; }
    input#business_phone_first3 { width:30px; }
    input#business_phone_second3 { width:30px; }
    input#business_phone_last4 { width:40px; }
  }

  .field.zip {
    input { width:60px; }
  }

  .field.position {
    margin:10px 0px;
    input { width:100px; }
  }




}

#map_canvas_container {
  display:inline-block;
  margin:20px 0px;
  vertical-align:top;
  width:40%;
  #map_canvas {
    width: 430px;
    height: 380px;
    border: 1px solid #666666;
  }
}


/* for coloring the events of different type  */
.event_type {
  span, div {
    background-color: red;
  }
}

.special_type {
  span, div {
    background-color: blue
  }
}

.announcement_type {
  span, div {
    background-color: brown
  }
}
