@import 'mixins';
@import 'shared';


#calendar_container {
  width: 900px;
  margin: auto;
  .fc-event-inner { color:black; }
}

#wrapper {
  width:900px;
  margin: auto;
}

#wrapper.business_users_login, #wrapper.business_users_register {
  h1 { margin: 20px 0 10px 107px }
  width:410px;
  #content {
    .field {
      font-size: 17px;
      padding: 7px 0px;
      label{ display:inline-block;  width: 90px; text-align:right }
      input{ width: 200px; font-size: 17px;margin:0 10px }
    }
    input.button { margin: 20px 0 0 107px }
  }
}


#wrapper.business_show {
  .header{
    margin-bottom: 20px;
    font-size:16px;
    text-align: right;
    select{
      background-color: inherit;
      font-size:100%;
    }
    .link {
      display:inline-block;
      margin-left: 10px;
      a.button{ padding: 4px 10px }
    }
  }
}

form.new_business, form.edit_business{
  width: 440px;
  margin-top: 15px;
  display:inline-block;
  /*div { border: 1px solid blue }*/

  .wrapper_panel {
    width: 100%;
    .buiz_panel {
      width: 210px;
      display:inline-block;
    }
    .auth_panel {
      width: 220px;
      margin-top: 5px;
      vertical-align: top;
      display:inline-block; 

      .auth_section {
        margin-bottom: 20px;
      }
      .connections { margin-top: -5px; }
      .connection {
        div { display:inline-block; margin: 0px 4px;}
        width: 100%;
        margin: 5px 0;
        img { width:18px }
        .text, .close {
          vertical-align: top;
          padding-top: 1px;
        }
      }
    }
  }

  .field.phone {
    input { margin-right: 3px; }
    input#business_phone_first3 { width:30px; }
    input#business_phone_second3 { width:30px; }
    input#business_phone_last4 { width:40px; }
  }

  .field.zip {
    input { width:60px; margin-left: 59px }
  }

  .field.position {
    margin:10px 0px;
    input { width:100px; }
  }

  .buttons {
    margin-top: 15px;
    text-align:center;
    .button { margin: 0 8px }
  }

  .open_times {
    margin-top:15px;
    .days_times {
      .day_name {
        width:15px;
      }
      div {
        display:inline-block;
      }
    }
  }
}

#map_canvas_container {
  width:430px;
  margin:20px 0px;
  display:inline-block;
  vertical-align:top;
  .field.map_location { margin-bottom: 15px}

  #map_canvas {
    width: 430px;
    height: 380px;
    border: 1px solid #666666;
  }
}
