@import 'mixins';
@import 'shared';


.ui-autocomplete-loading {
  background: white url('ui-anim_basic_16x16.gif') right center no-repeat;
}

a.ui-corner-all {
  font-size:12px !important;
  font-family:Arial;
}

.event_type_bar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 3%;
  border-right: 1px solid #666666;
}

.event {
  position: relative;
  border-bottom: 1px solid white;
  border-top: 1px solid white;

  .wrapper {

    .info_bar {
      margin: 4px 0px 4px 18px;

      .business_img {
        text-align: center;
        width: 5%;
        display: inline-block;
        img { width:27px; height:37px; }
      }

      .info {
        margin-top: 3px;
        margin-bottom: 3px;
        width: 69%;
        display:inline-block;
        .business_name_wrapper {
          .business_name {
            display: inline-block;
            width: 78%;
          }
          .start_hour {
            display: inline;
            width: 23%;
          }
          .am_pm { display: inline; font-size: 80% }
        }
        .title {
          font-weight: bold;
        }
      }

      .images {
        width:22%;
        display: inline-block;
        font-size: 9px;
        text-align: center;
        vertical-align: top;
        margin-top: 4px;

        .vote, .fave {
          display: inline-block;
          width: 23px;
          vertical-align: top;
        }
        .fave { margin-right: 8%; }

        img {
          cursor: pointer;
          margin-right: 10px;
          width: 21px;
        }
      }
    }

    .description {
      width: 100%;
      display: none;
      margin: 6px 0px 7px 23px;
    }

  }

}


.full { width:90% !important; }
#map_page {
  width: 100%;
  height: 100%;
  .ui-content { padding: 0; }
}

#map_canvas {
  width: 100%;
  height: 100%;
  border: 1px solid #666666;
}


.business {
  padding: 10px 0px 0px 5%;
  border-right: 1px solid #666666;
  border-left: 1px solid #666666;
  width: 94%;

  .info {
    width:48%;
    vertical-align:top;
    display:inline-block;
  }

  .hours {
    width:44%;
    padding-left:25px;
    display:inline-block;

    .bold { font-weight: bold }
    .line {
      .day_name {
        display:inline-block;
        width:20px;
      }
      .from_to {
        display:inline-block;
      }
    }
  }

  .close {
    position:absolute;
    top: 2px;
    right: 8px;
    cursor:pointer;
  }
}


.filter {

  div { display:inline-block; }

  .group {
    width: 100%;
    font-size: 20px;
    margin-top: 5px;

    .img {
      vertical-align:middle;
      img { width:50px; height:65px; }
    }

    .item {
      text-align: left;
      line-height: 20px;
      margin: 2px 0px;
      padding-left: 10px;
      width: 51%;
    }
  }
}
