#event_pop_up
#calendar_container

:javascript
  $(document).ready( function() {
    $('#calendar_container').fullCalendar({
      weekMode : window.CalendarOptions.mode,
      header: window.CalendarOptions.header,
      events: window.CalendarOptions.events_url,
      lazyFetching: false,
      eventClick: function(event) { return window.eventClickHandler(event) },
      loading: function(bool) { window.loadingCalendarHandler(bool) },
      dayClick: function(date, allDay, jsEvent, view) { window.calendarDayClickHandler(date, allDay, jsEvent, view) }
     })
  })


