.info
  {{name}}
  {{description}}
  %p
    {{address}}
    %br
    {{city}}, {{state}} {{zip_code}}
  %p
    {{phone_format phone}}
.hours
  {{#each_hour hours}}
  .line{ 'data-day_num'=> '{{day_num}}' }
    .day_name
      {{day_name}}
    .from_to
      {{hour_value}}
  {{/each_hour}}
