.event_type_bar{ :class=> "{{attributes/service_type}}" }
  &nbsp;
.wrapper
  .info_bar
    .business_img
      %img{ src: "{{businessImageName}}" }
    .info
      .business_name_wrapper
        .business_name
          {{businessName}}
        .start_hour== {{startHour}}
        .am_pm== {{startAmPm}}
      .title
        {{attributes/title}}
    .images
      .fave
        %img{ src: 'assets/fav_{{userFavoritePrefix}}selected_small.png', rel:'favorite', 'data-business_id'=> '{{attributes/business_id}}' }
      .vote.up
        %img{ src: 'assets/thumb_up_small.png', rel: 'vote', 'data-vote'=> "up"}
        .number
      .vote.down
        %img{ src: 'assets/thumb_down_small.png', rel: 'vote', 'data-vote'=> "down" }
        .number
  .description
    {{attributes/description}}

