.event_type_bar{ :class=> "{{attributes/service_type}}" }
  &nbsp;
.wrapper
  .info_bar
    .business_img
      %img{ src: "{{businessImageName}}" }
    .info.full
      {{> event_info}}
  .description
    {{attributes/description}}




