body {
  font: normal normal normal 13.34px/normal helvetica, arial, freesans, clean, sans-serif;
}


#header {
  height: 50px;
  div { display:inline-block; }
  .logo { width:70%; }
}


.settings_div {
  position:relative;
  display:inline-block;

  .link {
    cursor:pointer;
    font-size:11px;
    margin-left:20px;
    text-decoration:underline;
  }
}


/* for coloring the events of different type  */
.event_type {
  background-color: #f2f2c8;
}

.special_type {
  background-color: #d9ddd9
}

.announcement_type {
  background-color: #f2b8b8
}

