
body {
  font: normal normal normal 13.34px/normal helvetica, arial, freesans, clean, sans-serif;
}

#header {
  width: 900;
  height: 50px;
  margin: 0 auto;
  background-color:white;
  a { text-decoration:none }
  div {
    display:inline-block;
    height: 40px;
    vertical-align:top;
   h1 { line-height: 20px }
  }
}

.settings_div {
  position:relative;
  display:inline-block;

  .link {
    cursor:pointer;
    font-size:11px;
    margin-left:20px;
    text-decoration:underline;
  }
}

.field_with_errors{
  display:inline-block;
  color:red;
  font-size: 90%;
}

/*  Buttons */
span.button, a.button, input.button{
  color: white;
  font-size:13px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.34, rgb(10,75,136)),
    color-stop(0.67, rgb(32,101,166))
  );
  background-image: -moz-linear-gradient(
      center bottom,
      rgb(32,101,166) 34%,
      rgb(10,75,136) 67%
  );
  @include rounded(10px);
  padding: 6px 10px;
  text-align: center;
  text-decoration:none;
}

input.button {
  padding: 4px 10px;
}

/* for coloring the events of different type  */
$event_color: #f2f2c8;
$special_color: #b6fab6;
$announcement_color: #f2b8b8;

.event_type {
  background-color: $event_color;
  span, div {
    background-color: $event_color;
  }
}

.special_type {
  background-color: $special_color;
  span, div {
    background-color: $special_color;
  }
}

.announcement_type {
  background-color: $announcement_color;
  span, div {
    background-color: $announcement_color
  }
}

