form.new_business, form.edit_business{
  padding-top:10px;
  padding-left:10px;

  .open_times {

    .days_times {
      .day_name {
        width:15px;
      }
      div {
        display:inline-block;
      }
    }
  }


}