@import 'mixins';

body {
 font-size:14px;
 font-family:Arial;
}

.ui-autocomplete-loading {
  background: white url('ui-anim_basic_16x16.gif') right center no-repeat;
}



#content {
  width:930px;

  .search {
    margin-bottom: 30px;
    width:100%;
    text-align:right;

    input#search_location {
      @include rounded(12px);
      height: 24px;
      width:250px;
      font-size:110%;
      padding-left:17px;
      line-height: 13px;
      background: url("data:image/png;charset=utf-8;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAK8AAACvABQqw0mAAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTM5jWRgMAAAFlSURBVCiRbY/NqqpgFIYfjxLiyEFCfyDZpElFRF5Pt1A3FN1BNyEqRATfSFAo+keCmuQn5PEMDsXZe59nuJ718q6lANxutzIMQ4QQ7HY7bNum1+vhui7ValXhH7Q0TcvlckkQBJ9hHMfEcczpdCJN09KyrE9IC8OQIAhot9uMRiM6nQ5JkrBarQjDkFqtxpcGIQQA4/EY13WpVCpYloWqqmy3W97+za/9fg/AYDDAMAx0XccwDPr9PgBv/wm0Wi0AoihC07S/tZpGFEUAvP0n0O12AfA8D9/3ybIM3/fxPA8Ax3G+/jAcDrler6zXa5Ik4TtCCO73e2mapgKgSCnLw+HAZrMhiiKOxyPNZhPHcRBCkKYp9Xqd2WyGaZqKAiClLLMsI89zXq8XmqahqiqPx4PFYsHlcqHRaDCdTtEAdF1XftwCPJ/PcjKZMJ/PkVIipeS/i2+KolDyPP99Pp8pigLbtvkDMDKl6nkCE08AAAAASUVORK5CYII=") 2% 60% no-repeat;
      outline:none;
    }
  }

}

.event_bar {
  width:400px;
  height:40px;
  border: 1px solid #666666;
  display:inline-block;
}

.day_header {
  width:370px;
  @extend .event_bar;
  background-color:yellow;
  text-align:right;
  padding-right:30px;
}

.event {
  @extend .event_bar;
  background-color:grey;

  .business {
  }

  .info {
  }
}

#event_list_container {
  margin-right:10px;
  width: 400px;
  height: 500px;
  vertical-align:top;
  display:inline-block;
}

#event_list_inner {
  position: relative;
}


#map_canvas_container {
  display:inline-block;
  #map_canvas {
    width: 500px;
    height: 500px;
    border: 1px solid #666666;
  }

}


ul.event_list {
  list-style: none;
  padding: 0px;
  margin: 0px;
  width: 430px;

  li.lab_info {
    padding: 5px;
    border-bottom: 1px dotted #ccc;
    padding-left: 28px;
    position: relative;

    &:hover {
      background-color:#eee;
    }

    img {
      width: 17px;
      position: absolute;
      top:8px; left: 0;
    }

    .event_name {
      font-size:120%;
      font-weight: bold;
    }

    .link {
      margin: 15px 0;
    }
  }
}
