#event_list_container { width: 520px; clear: both; margin: 20px 0 10px; }
#event_list_container .viewport { width: 500px; height: 200px; overflow: hidden; position: relative; }
#event_list_container .overview { list-style: none; position: absolute; left: 0; top: 0; }
#event_list_container .thumb .end,
#event_list_container .thumb { background-color: #003D5D; }
#event_list_container .scrollbar { position: relative; float: right; width: 15px; }
#event_list_container .track { background-color: #D8EEFD; height: 100%; width:13px; position: relative; padding: 0 1px; }
#event_list_container .thumb { height: 20px; width: 13px; cursor: pointer; overflow: hidden; position: absolute; top: 0; }
#event_list_container .thumb .end { overflow: hidden; height: 5px; width: 13px; }
#event_list_container .disable{ display: none; }
