%html
  %head
    =favicon_link_tag '/favicon.ico?v=1'
    %title LocalEyes Business
    = stylesheet_link_tag    "business/application"
    = javascript_include_tag "business/application"
    = csrf_meta_tags
  %body.home
    = yield


